body{
  box-sizing: border-box;
  background-color: #E6EEF7;
  text-align: center;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 1.2em;
  margin: 0;
}


/*** Header ***/
.header-banner{
  padding: 30px;
  background: #1A1A1A;
  color: white;
}

.header-banner h1{
  font-size: 2.3em;
}
.header-banner h2{
  font-size: 1.3em;
}

.header-banner h1,
.header-banner h2{
  margin: 0;
}


.header-nav > *{
  margin: 10px;
}


/* Nav Bar */
.nav{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 2;

  display: flex;
  justify-content: center;
  background: #B9CCE5;
  box-shadow: 0 6px 10px 0px rgba(68, 68, 85, .5);

  font-weight: bold;
}

.nav > *{
  margin: 10px;
}

.nav a:link,
.nav a:visited,
.nav a:hover,
.nav a:active{
  color: black;
}


/*** Content Stylings ***/
.content > div{
  padding: 40px;
}

.content > div:nth-child(2n) {
  background: white;
}

.content h2{
  margin-top: 0;
}

/* Nav jump adjustment */
.content--nav-target{
  position: relative;
  visibility: hidden;
}
.content--nav-target span{
  position: absolute;
  top: -100px;
  visibility: hidden;
}


/* About Section */
.about{
  margin: auto;
  max-width: 800px;
  font-size: 1.1em;
  text-align: justify;
}


/* Skills Section */

.skills-content{
  display: flex;
  justify-content: center;
}

.skills-tech{
  width: 300px;
  display: inline-flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
}

.skills-tech-grouping{
  display: inline-block;
  width: 300px;
}

.skills-tech--item{
  display: inline-flex;
  justify-content: center;
  align-content: center;
  border: 2px solid rgb(81, 117, 81);
  border-radius: 60px;
  height: 120px;
  width: 120px;
  margin: 10px; 
  background: #C6F2C6;
}

.skills-tech--icon{
  display: inline-block;
  height: 120px;
  width: 120px;
  background-color: #002900;
}

.skills-tech--icon span{
  display: none;
  /* color: white; */
}

.skills-highlights{
  display: inline-block;
  padding: 0;
  width: 70%;
}

.skills-highlights--list{
  display: inline-flex;
  width: 49%;
}

.skills-highlights--list ul{
  margin: 0;
}

.skills-highlights--list ul li{
  margin: 30px 0;
  font-size: 1.3em;
  text-align: left;
}

.skills-highlights--list ul li:first-child{
  margin-top: 0;
}


/* Projects Section */
.project-item{
  max-width: 850px;
  margin: 10px auto;
  border: 1px solid black;
  border-radius: 8px;
  background: white;
}

.project-item-content{
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: 250px auto;
  grid-template-areas: 
    'img description'
    'links description';
  text-align: left;
}

.project-item-content--img{
  max-width: 230px;
  max-height: 230px;
  margin: 10px;
  grid-area: img;
}
.project-item-content--img img{
  width: 100%;
  height: 100%;
}

.project-item-content--links{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10px;
  text-align: center;
  grid-area: links;
}

.project-item-content--links a:link,
.project-item-content--links a:visited,
.project-item-content--links a:hover,
.project-item-content--links a:active{
  color: black;
}

.project-item-content--links a{
  margin-bottom: 5px;
}

.project-item-content--description{
  padding: 15px;
  grid-area: description;
}

.project-item-content--description p{
  margin-top: 0;
}



/* Contact */
.contact{
  padding: 40px;
  background-color: #1A1A1A;
  color: white;
}

.contact h2{
  margin-top: 0;
}

.contact-list-container{
  margin: auto;
  max-width: 800px;
  display: flex;
  justify-content: center;
  /* justify-content: space-evenly; */
  flex-wrap: wrap;
}

.contact-list-item{
  margin-bottom: 30px;
  width: 210px;
  display: inline-flex;
  flex-direction: column;
  font-size: .7em;  
}

.contact-list-item--icon{
  display: inline-block;
  height: 80px;
  width: 80px;
  background-color: white;
}

.contact-list-item a:link,
.contact-list-item a:hover,
.contact-list-item a:visited,
.contact-list-item a:active{
  color: white;
}

.footer{
  background: #1A1A1A;
  color: white;
}



/*** Icons ***/

/* Tech Item Icons */
.icon-mongodb{
  -webkit-mask: url(https://icongr.am/devicon/mongodb-plain-wordmark.svg?size=85) no-repeat center;
  mask: url(https://icongr.am/devicon/mongodb-plain-wordmark.svg?size=85) no-repeat center;
}
.icon-express{
  -webkit-mask: url(https://icongr.am/devicon/express-original-wordmark.svg?size=85) no-repeat center;
  mask: url(https://icongr.am/devicon/express-original-wordmark.svg?size=85) no-repeat center;
}
.icon-react{
  -webkit-mask: url(https://icongr.am/devicon/react-original-wordmark.svg?size=85) no-repeat center;
  mask: url(https://icongr.am/devicon/react-original-wordmark.svg?size=85) no-repeat center;
}
.icon-nodejs{
  -webkit-mask: url(https://icongr.am/devicon/nodejs-plain.svg?size=85) no-repeat center;
  mask: url(https://icongr.am/devicon/nodejs-plain.svg?size=85) no-repeat center;
}


/* Contact Icons */
.icon-github{
  -webkit-mask: url(https://icongr.am/devicon/github-original.svg?size=80) no-repeat center;
  mask: url(https://icongr.am/devicon/github-original.svg?size=80) no-repeat center;
}

.icon-resume{
  -webkit-mask: url(https://icongr.am/feather/file-text.svg?size=80) no-repeat center;
  mask: url(https://icongr.am/feather/file-text.svg?size=80) no-repeat center;
}

.icon-linkedin{
  -webkit-mask: url(https://icongr.am/simple/linkedin.svg?size=80) no-repeat center;
  mask: url(https://icongr.am/simple/linkedin.svg?size=80) no-repeat center;
}

.icon-email{
  -webkit-mask: url(https://icongr.am/clarity/email.svg?size=80) no-repeat center;
  mask: url(https://icongr.am/clarity/email.svg?size=80) no-repeat center;
}

.icon-phone{
  -webkit-mask: url(https://icongr.am/clarity/mobile-phone.svg?size=80) no-repeat center;
  mask: url(https://icongr.am/clarity/mobile-phone.svg?size=80) no-repeat center;
}



/*** Reactive designs ***/

@media only screen and (max-width: 1000px){
  /* Skills Section */
  .skills-content{
    flex-wrap: wrap;
  }

  .skills-tech{
    display: block;
    width: 100%;
    max-width: none;
  }
  
  .skills-highlights{
    display: block;
    width: 100%;
  }
}

@media only screen and (max-width: 700px){

  /* Content */
  .content > div{
    padding: 40px 20px;
  }

  .about{
    text-align: left;
  }

  /* Skills Section */
  .skills-highlights{
    display: inline-flex;
    margin: auto;
    width: auto;
    justify-content: flex-start;
    flex-direction: column;
  }
  .skills-highlights--list {
    display: inline;
    width: auto;
  }

  /* Projects Section */
  .project-item-content{
    grid-template-columns: 100% 0;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      'img'
      'description'
      'links';
  }
  .project-item-content > *{
    margin-left: auto;
    margin-right: auto;
  }
  .project-item-content--description-tech{
    text-align: center;
  }
}

@media only screen and (max-width: 550px){
  /* Nav Bar */
  .nav{
    position: static;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .nav--divider{
    display: none;
  }

  /* Content */
  .content > div{
    /* padding: 20px 15px; */
  }
}
