body{
  box-sizing: border-box;
  background-color: #E6EEF7;
  text-align: center;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 1.2em;
  margin: 0;
}


/*** Header ***/
.header-banner{
  padding: 30px;
  background: #222222;
  color: white;
}

.header-banner h1{
  font-size: 2.3em;
}
.header-banner h2{
  font-size: 1.3em;
}

.header-banner h1,
.header-banner h2{
  margin: 0;
}


.header-nav > *{
  margin: 10px;
}


/* Nav Bar */
.nav{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 2;

  display: flex;
  justify-content: center;
  background: #B9CCE5;
  box-shadow: 0 6px 10px 0px rgba(68, 68, 85, .5);
}

.nav > *{
  margin: 10px;
}

.nav a:link,
.nav a:visited,
.nav a:hover,
.nav a:active{
  color: black;
}


/*** Content Stylings ***/
.content > div{
  padding: 40px;
}

.content > div:nth-child(2n) {
  background: white;
}

.content h2{
  margin-top: 0;
}

/* Nav jump adjustment */
.content--nav-target{
  position: relative;
  visibility: hidden;
}
.content--nav-target span{
  position: absolute;
  top: -100px;
  visibility: hidden;
}


/* About Section */
.about{
  margin: auto;
  max-width: 800px;
}


/* Skills Section */

.skills-content{
  display: flex;
}

.skills-tech{
  display: inline-flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 39%;
}

.skills-tech{
  max-width: 400px;
}

.skills-tech--item{
  display: inline-flex;
  justify-content: center;
  align-content: center;
  border-radius: 60px;
  height: 120px;
  width: 120px;
  margin: 10px; 
  background: #C6F2C6;
}

.skills-tech--item img{
  color: black;
  fill: currentColor;
}

.skills-highlights{
  display: inline-block;
  padding: 0;
  width: 60%;
}

.skills-highlights--list{
  display: inline-flex;
  width: 49%;
}

.skills-highlights--list ul{
  margin: 0;
}

.skills-highlights--list ul li{
  margin: 30px 0;
  font-size: 1.3em;
  text-align: left;
}

.skills-highlights--list ul li:first-child{
  margin-top: 0;
}


/* Projects Section */
.project-item{
  /* width: 97%; */
  margin: 10px auto;
  border: 1px solid black;
  border-radius: 4px;
  /* background: #C6F2C6; */
}

.project-item-content{
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: 250px auto;
  text-align: left;
}

.project-item-content--img{
  max-width: 230px;
  max-height: 230px;
  margin: 10px;
}
.project-item-content--img img{
  width: 100%;
  height: 100%;
}

.project-item-content--links{
  display: flex;
  flex-direction: column;
  /* width: 300px; */
  margin: 10px;
  text-align: center;
}

.project-item-content--description{
  grid-column: 2;
  grid-row: 1 / span 2;
  padding: 10px;
}

.project-item-content--description p{
  margin-top: 0;
}













/* Reactive designs */

@media only screen and (max-width: 900px){
  /* Skills Section */
  .skills-content{
    flex-wrap: wrap;
  }

  .skills-tech{
    display: block;
    width: 100%;
    max-width: none;
  }
  
  .skills-highlights{
    display: block;
    width: 100%;
  }
}

@media only screen and (max-width: 575px){
  /* Skills Section */
  .skills-highlights--list {
    width: 100%;
  }
}
